<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ $assetVersion := "2" }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ printf "css/main.css?v=%d" $assetVersion | relURL }}">
</head>
<body class="{{ if and .IsPage (eq .Section "stories") }}story-single{{ end }}">
    <div class="global-wrapper">
        {{ partial "header.html" . }}
            <main>
                {{ block "main" . }}{{ end }}
            </main>
        <script src="{{ printf "js/main.js?v=%d" $assetVersion | relURL }}"></script>
    </div>   
</body>
</html>
