{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        
				<div class="taxonomy-box">
					{{ with .Params.genres }}
					<span class="taxonomy-item"><strong>Genres:</strong>
							{{ range $index, $genre := . }}
									{{- if ne $index 0 }}, {{ end -}}
									<a href="{{ "/genres/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
							{{- end }}
					</span>
					{{ end }}

            {{ with .Params.length }}
            <span class="taxonomy-item"><strong>Length:</strong> 
            {{ if reflect.IsSlice . }}
              {{ range $index, $length := . }}
                {{- if $index }}, {{ end -}}
                <a href="{{ "/length/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{- end }}
            {{ else }}
              <a href="{{ "/length/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            </span>
          {{ end }}

            {{ with .Params.series }}
                <span class="taxonomy-item"><strong>Series:</strong> <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
            {{ end }}

            {{ with .Params.tags }}
            <span class="taxonomy-item"><strong>Tags:</strong> 
              	{{ range $index, $tag := . }}
                	{{- if ne $index 0 }}, {{ end -}}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            </span>
        {{ end }}


            {{ $warningClass := "" }}
            {{ if or (in .Params.explicit "true") (in .Params.extreme "true") }}
                {{ if in .Params.extreme "true" }}
                    {{ $warningClass = "extreme-warning" }}
                {{ else }}
                    {{ $warningClass = "explicit-warning" }}
                {{ end }}
                <span class="taxonomy-item content-warning {{ $warningClass }}">
                    <strong>Content Warning:</strong> 
                    {{ if in .Params.explicit "true" }}
                        <a href="/explicit/true">Mature content</a>
                    {{ end }}
                    {{ if and (in .Params.explicit "true") (in .Params.extreme "true") }} | {{ end }}
                    {{ if in .Params.extreme "true" }}
                        <a href="/extreme/true">Extreme content</a>
                    {{ end }}
                </span>
            {{ end }}
        </div>
    </header>

    <div class="story-content">
        {{ .Content }}
    </div>
</article>
{{ end }}