<header>
    <nav>
      <a href="{{ .Site.Home.RelPermalink }}" class="home-link">
        <span class="goudy-l">L</span>
      </a>
      <div class="nav-buttons">
      <!-- Ream link -->
      <a href="https://ko-fi.com/lemmysmackett" class="icon-button" target="_blank" rel="noopener noreferrer">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
        width="84.000000pt" height="84.000000pt" viewBox="0 0 84.000000 84.000000"
        preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,84.000000) scale(0.050000,-0.050000)"
        fill="currentColor" stroke="currentColor">
        <path d="M520 1433 c-417 -198 -416 -189 -8 -384 364 -174 278 -178 713 28
        241 114 275 142 240 196 -11 17 -610 308 -632 307 -1 0 -142 -66 -313 -147z
        m529 -105 l194 -92 -196 -88 c-235 -106 -185 -106 -419 0 l-195 89 189 90
        c232 111 196 110 427 1z"/>
        <path d="M207 1010 c-26 -69 84 -137 539 -334 l96 -42 294 136 c333 153 364
        174 332 225 -38 59 -74 51 -356 -83 l-273 -130 -272 129 c-282 134 -340 150
        -360 99z"/>
        <path d="M221 751 c-51 -61 -2 -101 294 -236 162 -74 313 -134 335 -134 83 4
        620 287 620 327 0 93 -57 84 -348 -54 -323 -154 -248 -157 -626 24 -236 113
        -241 114 -275 73z"/>
        <path d="M221 491 c-53 -64 -12 -97 303 -245 l313 -146 307 143 c300 140 335
        162 336 211 1 80 -77 66 -351 -64 -328 -156 -251 -156 -580 0 -304 144 -295
        141 -328 101z"/>
        </g>
        </svg>
        </a>
        <!-- Reader Mode Toggle -->
        <button id="reader-mode-toggle" class="icon-button" aria-label="Toggle reader mode">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
          </svg>
        </button> 
        <!-- Dark Mode Toggle -->
        <button id="dark-mode-toggle" class="icon-button" aria-label="Toggle dark mode">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
        </button>
      </div>
    </nav>
  </header>