{{ define "main" }}
<div class="center-container">
  <main>
    <article class="index-content">
      {{ .Content }}
    </article>
    <div class="latest-story">
      {{ $latestStory := where (where .Site.RegularPages.ByDate.Reverse "Section" "stories") "Type" "!=" "page" }}
      {{ if $latestStory }}
        {{ $story := index $latestStory 0 }}
        {{ $storyDate := $story.Params.date }}
        <span>Latest Story: <a href="{{ $story.RelPermalink }}">{{ $story.Title }}</a></span>
        <span class="latest-story-date">{{ $storyDate.Format "Jan 2, 2006" }}</span>
      {{ end }}
    </div>  
    {{ partial "random-quote.html" . }}
    <div class="content-wrapper">
      <div class="content-container">
        <h2 class="section-heading">Newest Stories</h2>
        <ul class="content-list">
          {{ $stories := where (where .Site.RegularPages.ByDate.Reverse "Section" "stories") "Type" "!=" "page" }}
          {{ range first 10 $stories }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ if .Params.mature }}
                <span class="tag-box-mature">M</span>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="content-container">
        <h2 class="section-heading"><a href="/length/five-minute-fiction">Five Minute Fiction</a></h2>
        <ul class="content-list">
          {{ $stories := where (where .Site.RegularPages "Params.length" "five-minute-fiction") "Type" "!=" "page" }}
          {{ range first 10 $stories }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ if .Params.mature }}
                <span class="tag-box-mature">M</span>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="content-container">
        <h2 class="section-heading"><a href="/length/short-story">Short Stories</a></h2>
        <ul class="content-list">
          {{ $stories := where (where .Site.RegularPages "Params.length" "short-story") "Type" "!=" "page" }}
          {{ range first 10 $stories }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ if .Params.mature }}
                <span class="tag-box-mature">M</span>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <footer>
      <p>&copy; {{ now.Format "2006" }} Lemmy Smackett. Parodied characters, trademarks, and IPs are the property of their respective owners.</p>
    </footer>
  </main>
</div>
{{ end }}
