{{ define "main" }}
<div class="index-content">
  {{ .Content }}
</div>
<div class="content-wrapper">
  <!-- Recent Stories Section -->
  <div class="content-container">
    <h2 class="section-heading">NEWEST STORIES</h2>
    <ul class="content-list">
    {{ range first 5 (where .Site.RegularPages.ByDate "Section" "stories") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> <span class="date">- {{ .Date.Format "Jan 02, 2006" }}</span></li>
    {{ end }}
    </ul>
  </div>

  <!-- Short Stories Section -->
  <div class="content-container">
    <h2 class="section-heading">SHORT STORIES</h2>
    <ul class="content-list">
    {{ range first 5 (where .Site.RegularPages "Params.length" "short-story") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </div>

  <!-- Micro Stories Section -->
  <div class="content-container">
    <h2 class="section-heading">MICRO-FICTION</h2>
    <ul class="content-list">
    {{ range first 5 (where .Site.RegularPages "Params.length" "micro-fiction") }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </div>
</div>
{{ end }}