{{ define "main" }}
<main>
    <div class="taxonomy-list-title"><h1>{{ .Title }}</h1></div>
    
      {{ with .Content }}
      <div class="taxonomy-description">
          {{ . }}
      </div>
  {{ end }}

  {{ if .Pages }}
      <ul class="taxonomy-list">
      {{ range .Pages }}
          <li>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              <!-- {{ with .Summary }}
                  <p>{{ . | truncate 100 }}</p>
              {{ end }} -->
          </li>
      {{ end }}
      </ul>
  {{ else }}
      <p>No entries found in this {{ .Data.Singular }}.</p>
  {{ end }}

</main>
{{ end }}